* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-image: url(/images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position-x: -100px;
    background-position-y: -400px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position-x: 1000px;
    background-position-y: 400px;
}

.single-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 50px #4d4d4d;
}

.stats {
    display: flex;
    justify-content: center;
}

.card-background {
    border-radius: 10px 10px 0 0;
}

.avatar {
    border-radius: 100%;
    margin-top: -50px;
    border: solid 5px;
    border-color: white;
}

.card-bg {
    border-radius: 10px 10px 0 0;
}

span {
    opacity: 50%;
    margin-left: 5px;
}

.location {
    margin-top: 5px;
    font-size: 14px;
    opacity: 50%;
}

.usal {
    padding-bottom: 15px;
}

.stats {
    padding-top: 15px;
    border-top: solid 1px;
    border-color: #ededed;
}

.untereinander {
    padding: 20px
}

.description {
    margin-top: 5px;
    font-size: 14px;
    opacity: 50%;
}
